**/apache-maven-3.6.0
**/BuildData
**/Bukkit
**/CraftBukkit
**/logs
**/PortableGit-2.15.0-64-bit
**/Spigot
*.jar
**/world
**/world_nether
**/world_the_end
server.properties
eula.txt
bukkit.yml
whitelist.yml
wepif.yml
whitelist.json
permissions.yml
commands.yml
banned-ips.json
banned-players.json
ops.json
*.java